body{
    font-family: "Nunito";
    font-size: 1.125rem ;
    color: #5B5766;
    --title-color: #554D89;
    --form-color: #6852ED;
    --degrade: linear-gradient(to left, #6852ED, #BA43FC)
}

nav{
    margin-left: 24.6875rem;
}

.list-style-none{
    list-style: none;
}

/* Liens */
a{
    text-decoration: none;
    
}

.lien:hover{
    border-top: 3px solid var(--title-color);
    padding-top: 31.5px;
    font-weight: 800;
    color: var(--title-color)
}

nav p{
    font-weight: 900;
    color: var(--title-color);
    margin-left: 0.4rem;

}


/* Style de texte */
.nuni-16{
    font-size: 1rem ;
}
.pop50bold{
    font-family:"Poppins";
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--title-color)
}


/* Margin */
.margin-l{
    margin-left: 24.6875rem;
}

/*Padding*/
.paddinglist{
    padding-left: 2.0625rem;
}


/* Flexbox */
.dflex{
    display: flex;
}

.align-center{
    align-items: center;
}

.around{
    justify-content: space-around;
}

/* float */
.float-right{
    float: right;
}

/* forme 
.ovale{
    width:42.0625rem;
	height:85.5625rem;
    background: var(--form-color);
    border-radius: 336.5px;
    transform: rotate(45deg);
}
*/

.button{
    border: 1px solid none;
    background: var(--degrade);
    border-radius: 40px ;
    width: 12.9375rem;
    text-align: center;
    color: white;
    font-family: "Poppins";

}